.bg {
  margin-top: 10%;
  height: 100vh;
  width: 100%;
  background-color: #faedfa;
  font-family: "Playfair Display";
}
.bgbody {
  width: 70%;
  margin: auto;
  padding-top: 5%;
}
.bgbody h5 {
  font-style: italic;
  color: red;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top h3 {
  width: 40%;
  text-align: left;
}
.slider {
  margin: auto;
  width: 70%;
}
