.card {
  width: 60%;
  height: 40%;
}
.img {
  position: relative;
}
.price {
  overflow: hidden;
  position: absolute;
  top: 1vh;
  left: 1vh;
  border: 2px solid white;
  background: white;
  /* padding: 5px; */
  color: red;
}
.img img {
  width: 100%;
  height: 50%;
  background-size: contain;
}
.lower {
  height: 50%;
  padding: 1rem;
  background-color: white;
}
.lower button {
  border: none;
  background: black;
}
